.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(188, 220, 247);
  height: 150px;
  padding: 20px;
  color: black;
}

nav{
background : black;
margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: rgb(188, 220, 247);
  height: 100px;
  padding: 20px;
  color: black;
}

#title{
  font-size: 3em;
  color: black;
}
.header_text{
  color: black;
}

#footer-design {
  color: black;
 
}

.fixed-action-btn {
  position: fixed;
  bottom: 130px;
  right: 250px;
}

#all_post_btn {
  position: fixed;
  top: 180px;
  right: 250px;
  background-color: red;
}
#videoComp{
  height: 400px;
}

.chips {
  background-color: rgb(92, 147, 230);
border-radius: 100px;
padding: 7px;
}

.chipsici {
  display:flex;
  justify-content:center;
}

#profile_page {
  display: flex;
  flex-direction: column;
}
.card-action:last-child {
  padding: 10px 10px 35px 10px;
}
.card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: rgba(0, 0, 0, 0.87);
}
.comment-profile-name{
  margin-left: 10px;
  margin-top: 0px;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
