.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(188, 220, 247);
  height: 150px;
  padding: 20px;
  color: black;
}

nav{
background : black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: rgb(188, 220, 247);
  height: 100px;
  padding: 20px;
  color: black;
}

#title{
  font-size: 3em;
  color: black;
}
.header_text{
  color: black;
}

#footer-design {
  color: black;
 
}

.fixed-action-btn {
  position: fixed;
  bottom: 130px;
  right: 250px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
